<h1>Whiskey Index</h1>

<% @whiskeys.each do |whiskey| %>
	<h4><a href="whiskeys/<%= whiskey.id %>"><%= whiskey.name %></a></h4>
	<p><%= whiskey.description %></p>
	<hr>
<% end %>



<% (1..@total_pages).each do |page| %>
  <%= link_to("Page #{page} | ", whiskeys_path(page: page)) %>
<% end %>



